@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0");


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


body {
  background-color: rgb(75, 75, 75);
}

.outerBorder {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerContainer {
  margin: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid rgba(0,0,0,.1);
  /* border-radius: 5px; */
  box-shadow: 0px 5px 5px -2px rgba(0,0,0,.2);
  padding: 0rem .5rem .5rem;
  background-color: rgb(75, 75, 75);
}

.archivePanel {
  display: flex;
  flex-flow: column nowrap;
  height: 99.5%;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.archiveControl{
  display: flex;
  align-items: center;
  gap: .5rem;
  color: grey;
  
}

.add, .del {
  display: flex;
  justify-content: center;
  align-items: center;
}

.archiveControl .add {
  border: none;
  cursor: pointer;
  color: darkgrey;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  width: 2rem;
  background-color: rgb(75, 75, 75);

}

.archiveControl .add:hover{
  color:skyblue;
}

.archiveControl .add:active{
  background-color: skyblue;
  color: black;
}

.archiveControl .del {
  border: none;
  cursor: pointer;
  color: darkgrey;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  width: 2rem;
  background-color: rgb(75, 75, 75);
}

.archiveControl .del:hover{
  color: red;
}

.archiveControl .del:active{
  background-color: red;
  color: black;
}

.contrailTab{
  padding: 1rem 0rem 1rem .5rem;
  color: grey;
  border-bottom: 1px dotted grey;
  cursor: pointer;
}

.contrailTab:hover{
  background-color: darkgrey;
  color: white;
  cursor: pointer;
}

.contrailTab:active{
  background-color: skyblue;
  color: white;
}

.allTabs {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px dotted grey;
}

.box {
  flex: 1;
}

.topHeader {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: .3rem;
  box-shadow: 0px 5px 5px -10px rgba(0,0,0,.2);
  z-index: 1;

}

.topHeaderTitle {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  letter-spacing: 2rem;
  color: rgb(75, 75, 75);
  text-shadow: 0px 1.5px 5px #ffffff;
  animation: titleSpacingExpand 3s ease-in-out;
}
 @keyframes titleSpacingExpand {
    0% {
       letter-spacing: .1rem;
       color: rgb(250, 250, 250);
       text-shadow: 0px 1.5px 2px #ffffff;
    }
 }

.projectionPanel {
  display: flex;
  text-align: left;
  height: 99.8%;
  border-left: 3px double skyblue;
}

.projectionBox {
  padding:.5rem 1rem 0 1rem;
  flex-grow: 1;
  resize: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  border: none;
  background-color: rgb(85, 85, 85);
  color: rgb(200, 200 ,200)
}

.projectionBox::placeholder{
  font-size: 1rem;
  padding-top: .05rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: grey;
}

.projectionBox:focus {
  border: none;
}

.hddIconContainer1 {
  margin-right: .5rem;
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: darkgrey;
  cursor: pointer;
}

.hddIconContainer2 {
  margin-right: .5rem;
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: darkgrey;
  cursor: pointer;
}

.hddIconContainer1:hover,
.hddIconContainer2:hover{
  color: white;
}
